@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nokora:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --brand-color: #FE7C00;
    --brand-color2: #0B3E83;
    --brand-color3: #021636;
    --bg-color: #F1F1F1;
    --bg-white: #fff;
    --color-white: #fff;
    --jost: "Jost";
    --montserrat: "Montserrat";
    --dm-sans: "DM Sans";
    --intel: "Inter";
    --nokora: "Nokora";
    --lato: "Lato";
    --max-width: 1750px;
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-22: 22px;
    --fs-24: 24px;
    --fs-26: 26px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row>* {
    margin: 0;
    padding: 0;
}

.vl {
    width: 1px !important;
    height: 100% !important;
    background-color: #FE9E42;
    margin: 0 30px !important;
    padding: 0!important;
}

.hl {
    width: 40px !important;
    height: 2px !important;
    background-color: var(--bg-white);
    display: inline-block;
}

.dropdown-menu {
    margin: 0 !important;
}

.bg-brand-color {
    background-color: var(--brand-color) !important;
    transition: all 0.5s ease;
}

.bg-brand-color:hover {
    background-color: var(--bg-color) !important;
    color: var(--brand-color) !important;
    border: 1px solid var(--brand-color) !important;
}

.bg-brand-color2 {
    background-color: var(--brand-color2);
}

.text-black-white {
    color: var(--color-white);
    opacity: 34%;
}
/* Slider start */
.slider-container {
    width: 100%; /* Ekranning 100% kengligi */
    overflow: hidden; /* Elementlar chekkasini yashirish */
    user-select: none; /* Text tanlanishining oldini olish */
}

/* Slayderdagi barcha elementlar */
.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Silliq harakat */
    cursor: grab;
}

/* Har bir slayd */
.slide {
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    /*border: 1px solid #ccc;*/
    position: relative;
    flex: 0 0 25%;
    box-sizing: border-box;
}
/* Slider end */

/* Slider start */
.swiper {
    width: 100%;
    height: 66% !important;
    max-width: 1855px;
    margin: auto;
}

.swiper-wrapper {
    height: 100% !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 40px;
    background-color: var(--bg-color);
}

.slider-container:active .slider-wrapper {
    cursor: grabbing;
}
/* Slider end */

/* Header start */

.header {
    width: 100%;
    height: 90px;
    background-color: var(--brand-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_container {
    width: 100%;
    /*margin: auto;*/
    max-width: var(--max-width);
    height: 36px;
    color: var(--color-white);
}

.header_container div {
    height: 100%;
}

.header_contact>div {
    display: flex;
    align-items: center;
}

.header_contact>div>div {
    flex-direction: column;
    display: flex;
}

.header_contact>div>div>p {
    margin: 0 0 0 5px;
    font-size: 14px;
    font-family: var(--jost), sans-serif;
}

.header_contact>div>div:nth-child(3)>p {
    padding-left: 35px;
}

.header_contact>div>div>p>a {
    color: var(--color-white);
    text-decoration: none;
}

.header_contact_2 .dropdown {
    width: 60px;
}

.header_contact_2 .dropdown-menu {
    min-width: 60px !important;
    transform: translate(0px, 37px) !important;
}

.header_contact_2>div {
    align-items: center;
    display: flex;
}

.header_contact_2>div:nth-child(3) svg {
    margin: 0 5px;
}

.header_contact_2>div:nth-child(5) button {
    background-color: var(--brand-color2);
    font-size: 18px;
    padding: 8px 20px;
    font-weight: 500;
}

/* Header end */

/* Navbar start */

.navbar-main nav {
    background-color: var(--bg-white)!important;
}

.navbar-main {
    width: 100%;
    height: 110px;
    background-color: var(--bg-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-main>div {
    max-width: var(--max-width);
}

.navbar-main a, .navbar-main button {
    font-family: var(--montserrat), sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

/* Navbar end */
/* Main start */

.main {
    height: 860px;
    position: relative;
}

.main video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(17, 31, 43, 0.5);
    display: flex;
    align-items: center;
}

.main-content {
    color: var(--color-white);
    position: absolute;
    width: 800px;
    left: 300px;
}

.main-content p {
    font-family: var(--dm-sans), sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--brand-color);
}

.main-content h1 {
    font-family: var(--montserrat), sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 68px;
    border-left: 6px solid white;
    padding-left: 20px;
}

.main-content .btn {
    background-color: var(--brand-color);
    color: var(--color-white);
    font-size: 18px;
    font-family: var(--montserrat), sans-serif;
    margin: 10px 30px !important;
}

.main-mini-text {
    width: 680px;
    height: 180px;
    background-color: var(--brand-color2);
    border-radius: 12px;
    position: absolute;
    top: 89%;
    left: min(45vw, 45%);
    font-family: var(--montserrat), sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-indent: -30px;
    color: var(--color-white);
    padding: 2.1% 4.5% 2.5% 3%;
    text-align: start;
}
/* Main end */
/* About start */
.main-mini-text span {
    position: relative;
    top: -5px;
}

.about-main {
    padding-top: 230px;
    height: 1150px;
}

.about-main .about-img img {
    object-fit: cover;
    object-position: center;
}

.about-main .about-img img:nth-child(1) {
    width: 23%;
    object-position: 75%;
    border-radius: 10px 10px 100px 100px;
}

.about-main .about-img img:nth-child(2) {
    width: 68%;
    border-radius: 10px 140px 10px 10px;
    margin-right: 6%;
}

.about-main .about-text {
    padding-left: 10px;
}

.about-main .about-text p:first-child {
    font-family: var(--dm-sans), sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--brand-color);
}

.about-main .about-text h1 {
    margin-bottom: 20px;
    font-family: var(--montserrat), sans-serif;
    font-size: var(--fs-32);
    font-weight: 700;
}

.about-main .about-text p:last-child {
    font-family: var(--intel), sans-serif;
    font-size: var(--fs-18);
    text-indent: 6px;
}

.about-main .about-text li {
    width: 90%;
    font-family: var(--intel), sans-serif;
    font-size: var(--fs-20);
    font-weight: 500;
    margin-bottom: 10px;
}

.about-main .about-content {
    width: 100%;
    height: 180px;
    font-family: var(--montserrat), sans-serif;
    font-size: var(--fs-18);
    text-indent: -20px;
    background-color: var(--brand-color2);
    color: var(--color-white);
    margin-top: 40px;
    border-radius: 12px;
    padding: 2.2% 4.5% 2.2% 3%;
}

.about-main .about-content .hl {
    position: relative;
    top: -5px;
}
/* About end */
/* Products start */
.product-main {
    width: 100%;
    height: 534px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
}

.product-main .container {
    height: 353px;
}

.product-main .row {
    width: min(90vw, 120%);
}

.product-main .product-control {
    margin-top: 3.5%;
}

.product-main .product-control h1 {
    font-family: var(--montserrat), sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.product-main .product-control p {
    font-family: var(--jost), sans-serif;
    font-size: 18px;
    width: 80%;
}

.product-main .product-control .btn {
    color: var(--color-white);
    font-size: 18px;
    font-family: var(--montserrat), sans-serif;
    padding: 8px 25px !important;
    margin: 10px 0;
}

.product-main .product-control>div {
    margin-top: 30px;
}

.product-main .product-control>div svg {
    margin-right: 15px;
}

.product-main .row,
.product-main .product-slider,
.product-main .slider-container,
.product-main .slider-wrapper,
.product-main .slide{
    height: 100%;
}

.product-main .product-slider img {
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    position: absolute;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    padding: 0 8px;
}

.product-main .product-slider .slide>div {
    width: 360px;
    height: 91px;
    position: absolute;
    bottom: 0;
    background-color: var(--bg-white);
    border-radius: 10px;
}

.product-main .product-slider .slide>div>p {
    font-family: var(--montserrat), sans-serif;
    font-size: var(--fs-20);
    font-weight: 700;
    padding: 10px 0;
    margin: 0;
}

.product-main .product-slider .slide>div>span {
    font-family: var(--intel), sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px 10px 10px;
    margin: 0;
    color: #575A7B;
}
/* Products end */
/* Company information start */
.company-info {
    height: 800px;
    padding: 120px 0;
}

.company-info .container,
.company-info .row {
    height: 100%;
}

.company-content h2 {
    font-family: var(--montserrat), sans-serif;
    font-size: var(--fs-32);
    font-weight: 700;
}

.company-content button {
    font-family: var(--montserrat), sans-serif;
    font-size: var(--fs-18);
    font-weight: 500;
    padding: 8px 22px !important;
    margin: 30px 20px 30px 0;
    border: 1px solid var(--brand-color);
    color: var(--brand-color);
}

.company-content button:hover {
    background-color: var(--brand-color);
    color: var(--color-white);
}

.company-content>p {
    font-family: var(--intel), sans-serif;
    font-size: var(--fs-18);
    text-indent: 6px;
}

.company-box-container {
    width: 90%;
    height: 266px;
    margin-top: 30px;
}

.company-box-container>div {
    height: 50%;
}

.company-box-container>div>div {
    width: 217px;
    height: 123px;
    background-color: var(--brand-color2);
    color: var(--color-white);
    border-radius: 12px;
    padding: 10px 20px;
}

.company-box-container>div>div p:nth-child(2) {
    display: inline-block;
    font-family: var(--montserrat), sans-serif;
    font-size: 20px;
    margin-left: 10px;
}

.company-box-container>div>div p:nth-child(3) {
    font-family: var(--nokora), sans-serif;
    font-size: 18px;
}

.company-box-container>div>div:nth-child(1) {
    margin-right: 20px;
}

.show {
    background-color: var(--brand-color) !important;
    color: var(--color-white) !important;
    border-color: var(--brand-color) !important;
}

.company-image {
    height: 90%;
    border-radius: 24px;
    background-image: url("../image/company-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gallery-main {
    margin-top: 100px;
}

.gallery-main .row div {
    width: 650px;
    overflow: hidden;
    border-radius: 16px;
    margin-bottom: 20px;
    padding: 0;
}

.gallery-main .row div:nth-child(2),
.gallery-main .row div:nth-child(3) {
    width: 315px;
}

.gallery-main .row div:nth-child(4),
.gallery-main .row div:nth-child(6) {
    width: 540px;
}

.gallery-main .row div:nth-child(5) {
    width: 765px;
}

.gallery-main .row div:nth-child(7) {
    width: 425px;
}

.gallery-main .row div:nth-child(8) {
    width: 310px;
}

.gallery-main img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    max-width: 100%;
    transition: transform .5s ease-in-out;
}

.gallery-main img:hover {
    transform: scale(1.2);
}

/* Company information end */
/* Brand start */
.brand-main {
    margin-top: 80px;
    height: 280px;
    background-color: var(--bg-color);
}

.brand-main h1 {
    font-family: var(--montserrat), sans-serif;
    font-size: 32px;
    font-weight: 700;
    padding-top: 20px;
}
/* Brand end */
/* Comments start */
.comments-main {
    margin-top: 120px;
    height: 484px;
    background-color: var(--bg-white);
}


.comments-main .container p,
.leaders-main .container p,
.news-main .container>p {
    font-family: var(--dm-sans), sans-serif;
    color: var(--brand-color);
    font-weight: 700;
    padding-left: 20px;
}

.comments-main .container h1,
.leaders-main .container h1,
.news-main .container>h1 {
    font-family: var(--montserrat), sans-serif;
    font-size: var(--fs-32);
    font-weight: 700;
    padding: 0;
    margin-bottom: 60px;
}

.comments-main .swiper-slide {
    box-shadow: 0 0 10px 0 #0000001A;
    border-radius: 12px;
    border: 1px solid #FFE9D4;
    min-height: 315px;
}

.comments-main .swiper-slide img {
    background-color: var(--bg-white);
    width: 38%;
    padding: 0 20px;
}

.comments-main .swiper-slide div {
    text-align: left;
}

.comments-main .swiper-slide div>p:nth-child(1) {
    font-family: var(--lato), sans-serif;
    font-size: var(--fs-12);
    font-weight: 400;
    margin: 30px 0 15px 0 !important;
}

.comments-main .swiper-slide div>h2 {
    font-family: var(--intel), sans-serif;
    font-size: var(--fs-24);
    font-weight: 700;
    margin: 5px 0 !important;
    line-height: .5;
}

.comments-main .swiper-slide div>span {
    font-family: var(--intel), sans-serif;
    font-size: var(--fs-12);
    font-weight: 400;
}

.comments-main .swiper-slide div>p:nth-child(4) {
    font-family: var(--intel), sans-serif;
    font-size: var(--fs-14);
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-right: 20px;
}

.comments-main .swiper-pagination {
    position: relative!important;
    margin-top: 50px;
}
/* Comments end */
/* Leaders start */
.leaders-main {
    margin-top: 120px;
}

.leaders-main .row>* {
    padding: 0 8px!important;
}

.leaders-main .container>button,
.news-main .container>button {
    background-color: var(--brand-color);
    color: var(--color-white);
    float: right;
    padding: 7px 17px;
    font-family: var(--montserrat), sans-serif;
    font-size: var(--fs-18);
    font-weight: 400;
}

.leaders-main .card-body h5 {
    font-family: var(--montserrat), sans-serif;
    font-size: var(--fs-20);
    font-weight: 700;
    margin-bottom: 30px;
}

.leaders-main .card>div:first-child{
    overflow: hidden;
    width: 100%;
    height: 330px;
    border-radius: 6px;
}

.leaders-main .card:hover img {
    transform: scale(1.2);
}

.leaders-main .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform .5s ease-in-out;
}

.leaders-main .card-body p {
    font-family: var(--intel), sans-serif;
    font-size: var(--fs-14);
    font-weight: 400;
    color: #575A7B;
}
/* Leaders end */
/* Connect start */
.connect-main {
    height: 430px;
    position: relative;
}

.connect-main video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.connect-main>div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(17, 31, 43, 0.5);
    display: flex;
    align-items: center;
    color: var(--color-white);
}

.connect-main .row {
    height: 258px;
}

.connect-main .row>div:first-child h2 {
    font-family: var(--montserrat), sans-serif;
    font-size: calc(var(--fs-32) + var(--fs-22));
    font-weight: 700;
}

.connect-main .row>div:first-child button {
    background-color: var(--brand-color);
    color: var(--color-white);
    padding: 7px 17px;
    font-family: var(--montserrat), sans-serif;
    font-size: var(--fs-18);
    font-weight: 400;
    margin-top: 10px;
}

.connect-main .row>div:first-child button:hover {
    background-color: rgba(0 0 0 / 0);
    color: var(--brand-color);
    border: 1px solid var(--brand-color);
}

.connect-main .connect-content>div {
    width: 100%;
    min-height: 60px;
    background-color: var(--brand-color2);
    display: flex;
    color: var(--color-white);
    align-items: center;
    margin: 20px 0;
}

.connect-main .connect-content>div svg {
    margin: 0 15px;
}

.connect-main .connect-content>div span {
    font-family: var(--intel), sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    padding: 17px 0;
}
/* Connect end */
/* News start */
.news-main .row {
    margin: 0;
}

.news-main .row>* {
    padding: 0;
}

.news-main .new-box h2 {
    font-family: var(--montserrat), sans-serif;
    font-size: var(--fs-24);
    font-weight: 600;
    text-transform: lowercase;
}

.news-main .new-box h2:first-letter {
    text-transform: uppercase;
}

.news-main .new-box p {
    font-family: var(--intel), sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
}

.news-main .new-box p:nth-child(2) {
    font-size: var(--fs-14);
}

.news-main .new-box a {
    font-family: var(--intel), sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    color: var(--brand-color);
    text-decoration: none;
    position: absolute;
    bottom: 5%;
}

.new-box {
    margin-bottom: 50px;
}

.new-box .row>img {
    width: 43%;
}

.new-box .row>div {
    width: 57%;
}
/* News end */
/* Contact Us start */
.contact-us-main {
    height: 150px;
    background-color: var(--brand-color);
    color: var(--color-white);
    display: flex;
    align-items: center;
}

.contact-us-main button {
    background-color: var(--bg-white);
    color: var(--brand-color);
    padding: 7px 17px;
    font-family: var(--montserrat), sans-serif;
    font-size: var(--fs-16);
    font-weight: 500;
}

.contact-us-main button:hover {
    background-color: var(--brand-color);
    color: var(--color-white);
    border: 1px solid var(--color-white);
}

.contact-us-main h2 {
    font-family: var(--montserrat), sans-serif;
    font-size: var(--fs-24);
    font-weight: 500;
}
/* Contact Us end */
/* Footer start */

.footer-main {
    min-height: 438px;
    background-color: var(--brand-color3);
    color: var(--color-white);
}

.footer-main .container>.row {
    padding-top: 60px;
}

.footer-main .row>div:first-child p {
    font-family: var(--intel), sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 1px;
}

.footer-messengers {
    margin-top: 30px;
}

.footer-messengers a {
    margin-right: 10px;
    text-decoration: none;
}
.footer-contact {
    width: 68%;
}

.footer-contact>p {
    font-family: var(--intel), sans-serif;
    font-size: var(--fs-18);
    line-height: 24px;
}

.footer-contact>div:nth-child(2)>a {
    text-decoration: none;
    font-family: var(--jost), sans-serif;
    font-size: var(--fs-14);
    color: var(--color-white);
}

.footer-contact>div:nth-child(3) {
    border-bottom: 1px solid #394C63;
    width: 100%;
    margin-top: 30px;
}

.footer-contact>div:nth-child(3)>input {
    background-color: var(--brand-color3);
    border: none;
    outline: none;
    color: var(--color-white);
    padding: 8px 4px;
    width: 90%;
}

.footer-contact>div:nth-child(3)>svg {
    cursor: pointer;
}

.footer-contact-2 {
    position: relative;
    top: 30px;
}

.footer-contact-2>p {
    font-family: var(--intel), sans-serif;
    font-size: var(--fs-20);
    line-height: 24px;
}

.footer-contact-2>div:nth-child(3) svg {
    position: relative;
    top: -10px;
    width: 10%;
}

.footer-contact-2>div:nth-child(3) p {
    display: inline-block;
    width: 39%;
    font-family: var(--jost), sans-serif;
    font-size: var(--fs-14);
    color: var(--color-white);
}

.footer-contact-2>.row a {
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--jost), sans-serif;
    font-size: var(--fs-14);
}

.footer-contact-2>.row>div>div {
    display: inline-block;
    width: 70%;
    padding-left: 5%;
}

.footer-contact-2>.row>div:nth-child(1) svg {
    position: relative;
    top: -12px;
}

.footer-contact-2>.row>div:nth-child(2) a {
    display: inline-block;
    width: 85%;
    padding-left: 5%;
}

.footer-contact-2>.row>div:nth-child(2) svg {
    position: relative;
    top: -12px;
}

.footer-contact-2>div>p>a {
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--jost), sans-serif;
    font-size: var(--fs-14);
}

.footer-by p:first-child {
    font-family: var(--montserrat), sans-serif;
    font-size: var(--fs-16);
    color: var(--color-white);
    letter-spacing: 1px;
}

.footer-by p:last-child {
    font-family: var(--intel), sans-serif;
    font-size: var(--fs-16);
    color: #57667B;
}

.footer-by p:last-child a {
    padding-left: 10px;
}
/* Footer end */